@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


:root {
    --black: #ff6a00d2;
    --white: #ffffffd4;
}

body {
    height: 100vh;
    background-image: url(/media/desktop-wallpaper-trippy-acid-fractals-tunnels-trippy-lsd-acid-trippy-mandala.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.banner .btn {
    color: var(--white);
    text-decoration: none;
    margin-top: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.banner .cover {
    position: absolute;
    top: 10;
    left: 10;
    width: 80%;
    height: auto;
    object-fit: fill;
    z-index: -1;
}

.banner .contentBx {
    position: relative;
    z-index: 1;
    background: rgba(214, 148, 17, 0);
    border-radius: 2%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner .contentBx h2 {
    font-size: 2em;
    font-weight: 500;
    color: var(--black);
    -webkit-text-stroke: 1px rgb(130, 40, 40);
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40%;
}

#home > div > a{
    color: var(--black);
    -webkit-text-stroke: 1px rgb(130, 40, 40);
      text-align: center;
       justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner .contentBx h4 {
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
    
}


/* styles.css */
.share {
    position: absolute;
    display: flexbox;
    gap: 10px;
    font-size: 24px;
    margin-top: 30%;
}

.fab {
    color: #333; /* Icon color */
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.fab:hover {
    color: #007bff; /* Icon color on hover */
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



body::before {
    content: "";
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background-image: url(/media/desktop-wallpaper-trippy-acid-fractals-tunnels-trippy-lsd-acid-trippy-mandala.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: -1;
    animation: App-logo-spin infinite 100s linear;
}

/*audio section starts*/
/* Target the heading elements */
.banner h2{
    margin-bottom: 2rem;
}
.banner h4 {
    margin-bottom: -1.5rem;
        margin-top: -1.5rem;

    font-size: 2em;
    font-weight: 500;
    color: var(--black);
    -webkit-text-stroke: 1px rgb(100, 222, 25);
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;}

/* Target the buttons */

  
  .banner .btn:hover {
    background-color: #45a049; /* Change the background color on hover */
  }

    .banner .btn {
        color: #45a049;
            width: 2rem;
    height: 2rem;
   }

/* Target the audio controls */
.banner audio {
    color: #45a049;
        width: 12rem;
    height: 2rem;
}

#home > div.share > a.fab.fa-facebook,
#home > div.share > a.fab.fa-instagram  {
    margin: 14px;
}

/*audio section ends*/

@media (max-width: 991px) {
    header {
        padding: 20px 20px;
    }

    .banner .contentBx h2 {
    margin-bottom: 100%;
}

#home > div.share > a.fab.fa-facebook,
#home > div.share > a.fab.fa-instagram {
    margin: 22px;
}
    .share {
        margin-top: 150%;
        padding: 10px 20px;

    }

    .banner .cover {
        position: absolute;
        top: 10;
        left: 10;
        width: 100%;
        height: auto;
        object-fit: fill;
        z-index: -1;
    }

    header.sticky {
        padding: 10px 20px;
    }

    section {
        padding: 20px;
    }

    .banner .contentBx {
        padding: 40px 30px;
    }
}